{% extends 'base.html' %}

{% block title %}Schedule Planner App - Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">Catalog Directory</h1>

    <ul>
        <li><a href="{% url 'aero_eng' %}">Aerospace Engineering</a></li>
        <li>Architectural Engineering</li>
        <li>Art</li>
        <li>Biological Sciences</li>
        <li>Business</li>
        <li>Ceramic Engineering</li>
        <li>Chemical Engineering</li>
        <li>Chemistry</li>
        <li>Civil Engineering</li>
        <li>Computer Engineering</li>
        <li><a href="{% url 'comp_sci' %}">Computer Science</a></li>
        <li>Economics</li>
        <li>Education</li>
        <li>Electrical Engineering</li>
        <li>Engineering Management</li>
        <li>English</li>
        <li>Enterprise Resource Planning</li>
        <li>Environmental Engineering</li>
        <li>Etymology</li>
        <li>Explosives Engineering</li>
        <li>Finance</li>
        <li>French</li>
        <li>Freshman Engineering</li>
        <li>Geological Engineering</li>
        <li>Geology</li>
        <li>Geophysics</li>
        <li>German</li>
        <li>History</li>
        <li>Info Science & Technology</li>
        <li>Marketing</li>
        <li>Materials Science & Eng</li>
        <li>Mathematics</li>
        <li>Mechanical Engineering</li>
        <li>Metallurgical Engineering</li>
        <li>Military Science - Air Force</li>
        <li>Military Science - Army</li>
        <li>Mining Engineering</li>
        <li>Music</li>
        <li>Nuclear Engineering</li>
        <li>Petroleum Engineering</li>
        <li>Philosophy</li>
        <li>Physical Education</li>
        <li>Physics</li>
        <li>Political Science</li>
        <li>Pre-Medicine</li>
        <li>Psychology</li>
        <li>Russian</li>
        <li>Spanish</li>
        <li>Speech & Media Studies</li>
        <li>Statistics</li>
        <li>Systems Engineering</li>
        <li>Technical Communications</li>
        <li>Theatre</li>
    </ul>
</div>
{% endblock %}