<div class="col">
    <div class="card h-100">
        <div class="card-header">
            {{course.course_number}}: {{course.name}} 
            <span class="float-end">Credits: {{course.credits}}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.description}}</p>
            <br>
        </div>
        <div class="card-footer">
            <p class="card-text">Requirements: {{course.requirements | default:"No Special Requirements"}}</p>
            <hr>
            <select class="form-select my-3">
                <option>Spring 2022</option>
                <option>Fall 2022</option>
                <option>Spring 2023</option>
                <option>Fall 2023</option>
            </select>
            <button class="btn btn-success mb-3">Add to Degree Plan [NYI]</button>
        </div>
    </div>
</div>