{% extends 'base.html' %}

{% block title %}Schedule Planner App - Home{% endblock %}

{% block content %}
<div class="container">
    <h1>List of credits:</h1>
    <ul>
        <li>Dark theme provided by Bootstrap Dark 5: <a href="https://github.com/vinorodrigues/bootstrap-dark-5">https://github.com/vinorodrigues/bootstrap-dark-5</a></li>
        <li>Overall theme provided by Bootstrap: <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
        <li>CS4096 Schedule Planner Project Team: </li>
        <ul>
            <li>Austin Wall</li>
            <li>Lawrence Hierlmeier</li>
            <li>Ashton Massardo</li>
            <li>Aidan Bequette</li>
            <li>Alex Fischer</li>
            <li>Matthew Helbig</li>
            <li>Kino Lewis</li>
            <li>Alex Lindner-Scherrer</li>
            <li>Evan Wilcox</li>
        </ul>
    </ul>
</div>
{% endblock %}